<div id="video-gallery">
<span> Video Gallery Content </span>
</div>

{% schema %}
{
  "name": "Video Gallery",
  "class": "index-section index-section--video",
  "settings": [
    {
      "type": "text",
      "id": "video_gallery_link",
      "label": "Video link",
      "default": "https:\/\/www.vimeo.com\/257020713"
    }
  ],
  "presets": [
    {
      "name": "Video Gallery",
      "category": "Video Gallery"
    }
  ]
}
{% endschema %}
