<div id="video-gallery">
<div class="grid-wrapper">
  {% for block in section.blocks %}
    <div class="grid-number" {{ block.shopify_attributes }}>
      {% case block.type %}
      {% when 'text' %}
      <div data-type="vimeo" data-video-id="{{ block.settings.content }}"></div>
      {% endcase %}
    </div>
  {% endfor %}

</div>



</div>

{% schema %}
{
   "blocks": [
     {
       "type": "text",
       "name": "Vimeo link",
       "settings": [
         {
           "id": "content",
           "type": "text",
           "label": "ID"
         }
       ]
     }
   ]
 }
{% endschema %}
